{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Base/css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <header id="navbar">
        <ul id="menu">
            <div class="space-main">
                <li class="option"><a href="{% url 'Reportes:accounts' %}"><p>Accounts</p></a></li>
                <li class="option"><a href="{% url 'Reportes:reports' %}"><p>Reports</p></a></li>
            </div>
            <div class="space-secondary">
                <li class="option"><p>Employees</p></li>
                <ul id="dropdown">
                    <div class="option-dropdown">
                        <li class="option-dropdown"><a href="{% url 'Reportes:propio' %}"><p>Propio</p></a></li>
                    </div>
                    <div class="option-dropdown">
                        <li class="option-dropdown"><a href="#"><p>Transperfect</p></a></li>
                    </div>
                </ul>
            </div>
        </ul>
    </header>
    {% block container %}{% endblock container %}
    <footer style="height: 50px;">
        
    </footer>
    {% block js %}{% endblock js %}
</body>
</html>