{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login_page">
        <div class="logo">
            <div class="title_space">
                <h3>GRUPO</h3>
                <h1>LEVANTER</h1>
            </div>
            <img src="{% static 'Login/img/logo.png' %}" alt="">
        </div>
        <div class="vl"></div>
        <div class="form">
            <form action="{% url 'log_in' %}" method="post" >
                {% csrf_token %}
                <h1>Login</h1>
                {% if mensaje %}
                    <p class="errorLogin"> {{ mensaje }}</p>
                {% endif %}
                <input type="text" id="username" name="username" placeholder="Usuario" required>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <button type="submit" >Login</button>
            </form>
        </div>
    </div>
</body>

</html>